<link rel="stylesheet" href="/css/addEmployee.css">

<div class="mainContainer ">

    <div class="formInput">
        <h1> Welcome </h1>
        <form method="POST" action="/users/addEmployee" >
            <input type="Name" name="name" placeholder="Enter name" required><br>
            <input type="email" name="email" placeholder="Enter email" required><br>
            <input type="password" name="password" placeholder="Enter password" required><br>
            <input type="password" name="confirmPassword" placeholder="Confirm password" required><br>
            <!-- <div style="height: 20px; margin-top: 5px;"> <button style="width: 100px; margin-left: 50px; height: 30px;"  type="submit">Sign Up</button></div> -->
            
            <div class= 'button'>
                <!-- <div class="forgetPassword"><a href="/users/forgetPassword"> ForgetPassword </a></div> -->
                <div id="addemp" class = "submitButton"><button type="submit">SignUp</button></div>
            </div>
        </form>
    </div>
</div>