<link rel="stylesheet" href="/css/sign_up.css">

<div class="mainContainer">
    <div class="formInput">
        <h1>Welcome</h1>
        <form action="/users/create" method="POST">
            <input type="text" name="name" placeholder="Enter name" required><br>
            <input type="email" name="email" placeholder="Enter email" required><br>
            <input type="password" name="password" placeholder="Enter password"><br>
            <input type="password" name="confirmPassword" placeholder="Confirm password" required><br>
            <div class="button">
                <div class="submitButton"><button type="submit">Sign Up</button></div>
            </div>
        </form>
    </div>
</div>