.navBar{
    display: flex;
    align-items: center;
    background-color: rgb(57, 145, 145);
    margin: 0;
    padding: 0;
    height: 4rem;
    justify-content: space-between;

    .li{
        a{
            text-decoration: none;
            color: black;
            font-size: 1.1rem;
            margin-right: 2rem;
            font-size: 1.2rem;
        }

        span{
            margin-right: 2rem;
            font-size: 1.2rem;
            i{
                margin-right: 0.2rem;
            }
        }
    }

    .nameOfApp{

        a{
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            text-decoration: none;
            color: black;

            img{
                height: 3rem;
                width: 3rem;
                margin-left: 1rem;
                margin-right: 0.4rem;
            }
        }
    }

    .notLogIn{
        display: flex;
        
        ul{
            display: flex;

            li{
                margin-right: 2rem;
                list-style: none;

                a{
                    text-decoration: none;
                    color: black;
                    font-size: 1.1rem;
                }
            }
        }
    }
}