h4 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}
.container table {
  margin: 5rem;
  margin-top: 1rem;
}
.container table .row:hover {
  background-color: lightgray;
}
.container table th, .container table td {
  text-align: center;
  padding: 0.8rem;
  border-bottom: solid 1px black;
}
.container table a {
  text-decoration: none;
  color: black;
  background-color: red;
  padding: 0.6rem 0.8rem;
  border-radius: 0.4rem;
}
.container table a:hover {
  background-color: rgb(156, 15, 15);
}
